################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoCarApp/.vs/AutoCarApp
/.vs/AutoCarApp/v17/.suo
/AutoCarApp/obj
/AutoCarAppTest/obj
